.pictureBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.daddyOfPics {
  flex: 0 0 calc(23% - 5px);
  text-align: center;
  position: relative;
}

.image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cityStateandStars {
  margin-top:0px;
  padding-top:0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.price {
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

.inline {
  display: inline-block;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.toolTip .tooltiptext {
display: none;
}

.toolTip:hover .tooltiptext {

  display: inline-block;
  bottom:78%;
  left: 50%;
  transform: translateX(-50%);
  visibility: visible;
  opacity: 1;
  position: absolute;
  background-color: beige;
  font-size:2vw;

}

.cityState {
  flex: 1;
}

.avgRating {
  flex: 1;
  text-align: right;
}

.link {
  color: inherit; /* This will inherit the color from the parent element */
  text-decoration: none; /* Optional: remove underline */
}

.fancyText{
font-family: 'PT Sans', sans-serif;
font-weight: 600;
font-size:19px;
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

.left{
  text-align: left;
}
