.pictureBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.daddyOfPics {
  flex: 0 0 calc(25% - 20px);
  margin-bottom: 20px;
  text-align: center;
  height: 0;
  padding-bottom: 75%;
  position: relative;
}

.image2 {
  width: 100%;
  max-width:100%;
  height: calc(100% * (3/4))
}

.cityStateandStars {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically align content */
  margin-top: 10px;
}

.price {
  width: 100%;
  text-align: center;
}

.inline {
  display: inline-block;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.pictureBox .daddyOfPics .toolTip .tooltiptext {
  visibility: hidden;
}

.pictureBox .daddyOfPics .toolTip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.cityState {
  flex: 1;
}

.avgRating {
  flex: 1;
  text-align: right;
}

