/* .fromScatch{
    display: grid;
    gap: 10px;
    max-height: 300px;
    overflow: hidden;
    grid-template-areas: 'a a . .'
                         'a a . .';

}

/* .a {
grid-area: a
}
.b {
grid-area: b
}
.c {
    grid-area: c
}
.d {
    grid-area: d
}

.e {
    grid-area: e
} */

/* .mainPic{
    /* width:48%;
    padding-top:36%;
    display:inline-block;

    position: relative;
    overflow: hidden;
    grid-area: a;


}
.mainPic img{
width: 100%;
height: 100%;
object-fit: cover;
}
.sidePicsContainer{
    display:inline-flex;
    width:48%;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

.respond{
    width:100%;
    grid-area: a;
}

/* .sidePiece{

width:50%;
height:50%;
} */
/*
.daddyBelow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.borderBox{
    width:20%;
    text-align: right;
}

.detailsPictureBox{

} */
 */

 .mainPicAndDaddyBelowWrapper {
    display: flex;
    align-items: flex-start; /* Align child elements at the top */
    justify-content: center; /* Center the child elements horizontally */
  }

.daddyOfSingleDetail {
    display: flex;
    flex-direction: column;
   
}

.detailsPictureBox{
    width: 100%

}

.mainPic{
    width:50%;
    padding-top:36%;
    display:inline-block;

    position: relative;
    overflow: hidden;
}
.sidePicsContainer{
    display:inline-block;
    width:49.6%;
    gap: 5px;
    flex-wrap: wrap;
    /* justify-content: flex-start; */


    /* position: relative;
    overflow: hidden; */
}

.respond{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    padding: 5px;
}
.sidePieceHolder{
    width:50%;
    padding-top:36%;
    display:inline-block;

    position: relative;
    overflow: hidden;
}

.sidePiece{

width:50%;
height:50%;
}
.daddyBelow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.borderBox{
    width:20%;
    text-align: right;
}
