.profile-dropdown.hidden {
    display: none;

  }
  .profile-dropdown {
    display: block;
    list-style-type: none;
   }

   .noBullets {
    display: inline-block;
    list-style-type: none;
    text-align: right;
   }

   .logo {
    display: inline-block;
    flex-grow: 0;
    flex-shrink:0;
    width:160px;
    height:80px;
   }

   .topBanner {
    display: flex;
    justify-content: space-between;
    width: 100%;
   }
