.profile-dropdown.hidden {
    display: none;

  }
  .profile-dropdown {
    display: block;
    list-style-type: none;
   }

   .noBullets {
    display: inline-block;
    list-style-type: none;
    text-align: right;
   }

   .logo {
    display: inline-block;
    flex:0 0 120px;
    height:80px;
   }

   .topBanner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
   }

   #openMenu{
    cursor: pointer;
   }
